<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <title>{% block title %} {% endblock title%} - ekart </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/shop">rkart-Mall</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav-bar-search ml-3" style="background-color: white; border-radius:.5rem">

            <form class="form-inline my-2 my-lg-0">
                <div class="dropdown">
                    <a class="btn bg-warning my-2 my-sm-0 dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Electronics</a>
                        <a class="dropdown-item" href="#">Books</a>
                        <a class="dropdown-item" href="#">Appliances</a>
                        <a class="dropdown-item" href="#">Baby</a>
                        <a class="dropdown-item" href="#">Beauty</a>
                        <a class="dropdown-item" href="#">Car & Bikes</a>
                        <a class="dropdown-item" href="#">Clothings & Accessories</a>
                        <a class="dropdown-item" href="#">Collectibles</a>
                        <a class="dropdown-item" href="#">Computer & Accessories</a>
                        <a class="dropdown-item" href="#">Furniture</a>
                        <a class="dropdown-item" href="#">Garden & Outdoors</a>
                        <a class="dropdown-item" href="#">Helth & Personal Care</a>
                        <a class="dropdown-item" href="#">Home & Kitchen</a>
                        <a class="dropdown-item" href="#">Industrial & Scientific</a>
                        <a class="dropdown-item" href="#">Jewellery</a>
                        <a class="dropdown-item" href="#">Luggage & Bags</a>
                        <a class="dropdown-item" href="#">Luxury Beauty</a>
                    </div>
                </div>
                <input class="form-control " type="search" id="navbarsearch" aria-label="Search"
                    style="width:33rem !important; border: 1px solid #ffffff;">
                <button class="btn bg-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/shop">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop/tracker">Tracker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="#">Brick</a>
                        <a class="dropdown-item" href="#">Cone</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Cup</a>
                    </div>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Cart(<span id='cart'>0</span>) </a>
                </li> -->
                <button type="button" id="cart-pop" class="btn btn-dark bg-dark mx-2" data-trigger="click, hover"
                    data-html="true" data-container="body" data-toggle="popover" data-placement="bottom">
                    <div id='cart-btn my-0' style="font-size:.8rem;">
                        🛒Cart (<span id='cart'>0</span>)<br>
                        <div id='cart-btn-txt ' style="font-size: .5rem;">click to view items</div>
                    </div>
                </button>
            </ul>

        </div>
    </nav>


    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0 " role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    {% block body %} {% endblock body%}

    <footer class="footer mt-auto py-3" style="background-color: rgb(165, 164, 164);">
        <div class="container">
            <span class="text-muted">Designed and built with all the love in the
                world by Rajeev</span>
        </div>
    </footer>


    <!-- from harry's-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>



    {% block js %} {% endblock js %}


</body>

</html>